.ricerca-personalizzata {
 background-image:url(../images/search-background.svg);
 background-position:50%;
 background-repeat:no-repeat;
 height:305px;
 margin-top:24px
}
#google-search {
 max-width:520px;
 margin:0 auto;
 border-bottom:3px solid rgba(60,64,67,0.15);
 padding-top:130px;
 border-radius:10px
}
#come-possiamo-aiutarti {
  text-align: center;
  color: #FFA715;
}
