---
layout: default
---
{% assign portfolio = site.pages | where: "path", "portfolio.html" | first %}

<section class="hero diagonal">
	<div class="container">
		<br/><br/><br/>
		{% if portfolio.heading %}
		<h1>{{ page.title | capitalize }}</h1>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>
<section class="diagonal diagonal-breadcrumbs">
	<div class="halves">
		{% include breadcrumbs.html path=page.path title=page.title %}
	</div>
</section>
<section class="diagonal">
	<div class="container">
		<p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p>
		<div>
			{{ content }}
		</div>
		<p><a href="{{ page.external_url }}" target="_blank">Vedi {{ page.title }} &rarr;</a></p>
	</div>
</section>
