---
layout: compress
---
<!DOCTYPE html>
<html lang="it-IT">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% seo %}
		<meta name="rating" content="general">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/ico/favicon.png" sizes="192x192" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/ico/apple-touch-icon.png" />
		<link rel="manifest" href="{{ site.baseurl }}/manifest.json" />
		<meta name="theme-color" content="#323234" />
		<meta name="keywords" content="siti web, siti web udine, realizzazione siti web, realizzazione siti web a udine, web designer, web designer udine, web e graphic designer a udine, siti internet per aziende, siti internet per liberi professionisti, siti web per concessionarie auto">
		<meta name="copyright" content="Copyright © 2018, Enrico Caputo">
		<script type="application/ld+json"> { "@context": "http://schema.org", "@type": "Organization", "url": "https://www.sitiweb.fvg.it", "logo": "https://www.sitiweb.fvg.it/images/ico/favicon.png" } </script>
		{% feed_meta %}
		<style>{% include screen.css %}</style>
	  <!--[if lt IE 9]>
	  <script src="/js/html5shiv.min.js"></script>
	  <script src="/js/respond.min.js"></script>
	  <![endif]-->
	</head>
	<body>
		<header>
			<div class="container">
				<div class="company-name"><a href="{{ site.baseurl }}/" title="Siti Web fvg – Home page ufficiale"><img src="{{ site.baseurl }}/images/firma.png" alt="Siti Web fvg – Home page ufficiale" width="190"></a></div>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}
		<footer class="diagonal">
			<div class="container">
				<div class="footer-columns">
					{% for column in site.data.footer %}
						<ul class="footer-links">
							<li>
								<h3>{{ column.title }}</h3>
							</li>
							{% for link in column.links %}
								<li>
									<a {% if link.new_window %}target="_blank" rel="noopener"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
										{% if link.social_icon %}
											{% include social-icon.html icon=link.social_icon %}
										{% endif %}

										{{ link.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endfor %}
					<ul class="footer-links">
						<li>
							<h3>{{ site.data.company.title }}</h3>
						</li>
						<li>{{ site.data.company.description }}</li>
						<li><a rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %} Subscribe with RSS</a></li>
					</ul>
				</div>
			</div>
			<div class="legal-line">
				<p class="container">
					&copy; {{ site.time | date: '%Y' }} {{ site.data.company.title }}
					&bull;
					<a href="/cookie_policy/">Terms & Privacy</a>
				</p>
			</div>
		</footer>
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
		<script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
		<script src="{{ site.baseurl }}/js/cookiebar.js"></script>
		<script>
				$(document).ready(function() {
					$.cookieBar();
				});
		</script>
		<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
		</script>
	</body>
</html>
